* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --hue: 200;
  --dark-turquoise: hsl(195, 46%, 40%);
  --color-base-white: hsl(0, 0%, 100%);
  --color-base-dark: hsl(240, 6%, 13%);
  --color-base-gray: rgba(255, 255, 255, 0.20);
  --desktop-backgroud: hsl(196, 100%, 98%);
}

html,
body,
input {
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-dark);
}

#app {
  display: grid;
  grid-template:
    "header header"
    "main main"
    "sidebar sidebar"
    "footer footer";

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 3fr 1fr;
}

.container {
  width: min(112rem, 100%);
  margin: 0 auto;
  padding: 1.2rem 2.8rem;

  align-items: center;
}

header {
  grid-area: header;
  width: 100%;
}

header .content {
  display: flex;
  align-items: center;
}

header,
nav {
  display: flex;
  gap: 2.5rem;

  font-weight: 700;
}

form {
  flex: 1;
}

.logo {
  background-color: var(--color-base-white);
  width: 4.2rem;
  height: 4.2rem;
  object-fit: none;

  border-radius: 50%;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  gap: 12px;
  flex: 1 0 0;

  background-color: var(--color-base-gray);
  border: 0;
  border-radius: .4rem;

  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  opacity: .56rem;
  color: var(--color-base-white);
}

.avatar {
  background-color: var(--color-base-white);
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;

  border-radius: 50%;
}

main {
  grid-area: main;
  overflow-y: scroll;
  background-color: var(--color-base-white);
  margin: 0 auto;
  display: flex;
}

.title-img {
  display: flex;
}

.title-img img {
  width: 80.3rem;
  max-height: 40.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;

  transition: all 200ms ease-out;
  filter: grayscale(.2);
  display: block;
}

.title-img img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
}

main h1 {
  font-size: 2.4rem;
  font-weight: 700;

  line-height: 160%;
  margin: 3.1rem 6.6rem .8rem 2.2rem;
}

button {
  background-color: var(--dark-turquoise);

  padding: 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  object-fit: none;

  margin-left: 2.2rem;
  border-radius: 50%;
  border: none;
}

.content {
  display: grid;
  gap: 2.2rem;
}

.content p {
  margin: 0 auto 3.1rem;
  line-height: 160%;
  font-size: 1.6rem;
}

sidebar {
  display: grid;
  grid-area: sidebar;
}

sidebar .items {
  grid-template-columns: repeat(2, 1fr);
}

sidebar h2 {
  margin: 0.3rem 1.7rem 0.6rem 0;

  font-size: 2.4rem;

  font-weight: 700;
  line-height: 160%;
}

figure {
  display: flex;

  align-content: center;
  gap: 2.6rem;
}

.card img {
  width: 15.1rem;
  height: 8.4rem;
  border-radius: .5rem;
  object-fit: cover;
}

.card {
  padding: 2.4rem;
  z-index: 1;
  position: relative;
}

.card h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 160%;
}

.card p {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

footer p {
  padding: 1.6rem;

  font-weight: 600;
  text-align: center;
  color: var(--color-base-white);
}

header,
footer {
  background-color: var(--dark-turquoise);
}

header {
  --startY: %;
  animation: move .2s;
}

footer {
  --startY: 100%;
  animation: move .2s;
  grid-area: footer;
}

@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

.item {
  --delay: .4s;
  animation: appear .4s .4s backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}

@media (min-width: 1000px) {
  #app {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main sidebar"
      "footer footer footer";
    margin: 0;

    width: 100vw;
    height: 100vh;

  }

  body,
  #app,
  main,
  sidebar {
    background-color: var(--desktop-backgroud);
  }

  header {
    justify-self: start;
  }

  .container {
    width:  100%;
  }

  header .content {
    margin: 0 auto;
    max-width: 115rem;
  }

  main {
    grid-area: main;
    justify-self: end;
    margin-top: 4.4rem;
    width: 60rem;
  }

  .title-img {
    padding: 0 2.2rem;
  }

  sidebar {
    grid-area: sidebar;
  }

  main {
    margin-left: 10.9rem;
  }

  sidebar {
    margin-right: 10.9rem;
    margin-left: 3.4rem;
  }

  footer {
    grid-area: footer;
  }
}

@media (min-width: 1200px) {
  main {
    width: 80rem;
  }

  .title-img {
    justify-content: space-between;
    display: flex;
  }
}